.followBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 196px;
  height: 50px;

  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #373737;

  border: 0;
  background-color: #EBD8FF;
  box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.25);
  border-radius: 10.3108px;
  transition: 200ms linear;

  cursor: pointer;
}

/* .followBtn:focus,  */
.followBtn:hover{
  background-color: #d4adff;
}

button[data-isfollowing="true"] {
  background-color: #5CD3A8;
}

button[data-isfollowing="true"]:hover {
  background-color: #5cd3a7cd;
}