@import-normalize;

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  border: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #EBD8FF;
}

.section {
  padding: 32px 0;
}

.container {
  display: flex;
  justify-content: center;

  margin: 0 auto;
  padding: 0 32px;
}

/* TODO - replace this css in other file */
.tweets__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}