@import-normalize;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  border: none;
}

div#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #ebd8ff;
}

main {
  flex-grow: 1;
}

.section {
  padding: 32px 0;
}

.container {
  display: flex;
  justify-content: center;

  margin: 0 auto;
  padding: 0 16px;
}

@media screen and (min-width: 852px) {
  .container {
    padding: 0 32px;
  }
}
